.container {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  border: 1px solid #999999;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
