.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
